<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}ERP Estaciones{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='/styles.css') }}">
</head>

<body>

    <header class="topbar">
        <h1>FuelOPS ERP</h1>

        {% if session.get('user_name') %}
            <div class="usuario">
                Bienvenido, {{ session['user_name'] }}
            </div>
        {% endif %}
    </header>

    <div class="layout">

        <aside class="sidebar">

            <a href="{{ url_for('operador.dashboard_operador') }}">
                Inicio
            </a>

            <a href="{{ url_for('auth.perfil') }}">
                Perfil
            </a>

            {% if session.get('rol') == 'Administrador' %}
            <a href="{{ url_for('admin.usuarios') }}">
                Usuarios
            </a>
            {% endif %}

            <a href="{{ url_for('admin.estaciones') }}">
                Estaciones
            </a>

            <a href="{{ url_for('auth.logout') }}">
                Cerrar sesión
            </a>

        </aside>

        <main class="contenido">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                        
            {% block content %}
            {% endblock %}

        </main>

    </div>

</body>
</html>