<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login ERP</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/login.css') }}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h2>ERP Estaciones</h2>
        <p class="subtitle">Inicia sesión para continuar</p>

        <form method="POST">

            <div class="input-group">
                <label>Usuario</label>
                <input type="text" name="username" placeholder="Ingresa tu usuario" required>
            </div>

            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            </div>

            <button type="submit">Ingresar</button>

        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

    </div>

</div>

</body>
</html>